<!DOCTYPE html>
<html>
<head>
    <title>PID Control Simulator</title>
</head>
<body>

    <h1>PID Control Simulator (Biomedical Vacuum System)</h1>

    <form method="POST">
        <label>Kp:</label>
        <input type="number" step="0.01" name="Kp" value="{{ Kp }}"><br><br>

        <label>Ki:</label>
        <input type="number" step="0.01" name="Ki" value="{{ Ki }}"><br><br>

        <label>Kd:</label>
        <input type="number" step="0.01" name="Kd" value="{{ Kd }}"><br><br>

        <button type="submit">Simulate</button>
    </form>

    <h2>Response:</h2>
    <img src="data:image/png;base64,{{ plot_url }}"/>

</body>
</html>
